<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DSR_Gadget.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib"/>
    </assemblyBinding>
  </runtime>
    <userSettings>
        <DSR_Gadget.Properties.Settings>
            <setting name="WindowLocation" serializeAs="String">
                <value>200, 200</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeysEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeysHandle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyGravity" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="HotkeyTest1" serializeAs="String">
                <value>219</value>
            </setting>
            <setting name="HotkeyTest2" serializeAs="String">
                <value>221</value>
            </setting>
            <setting name="FilterOverride" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterBrightnessSync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterBrightnessR" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FilterBrightnessG" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FilterBrightnessB" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FilterContrastR" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FilterContrastG" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FilterContrastB" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FilterSaturation" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FilterHue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HotkeyFilter" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="FilterContrastSync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnimSpeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HotkeyCollision" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="HotkeySpeed" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="HotkeyStore" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="HotkeyRestore" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="HotkeyUp" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="HotkeyDown" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="HotkeyMenu" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="HotkeyDeadMode" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="RestoreState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Warned" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeyCreateItem" serializeAs="String">
                <value>27</value>
            </setting>
        </DSR_Gadget.Properties.Settings>
    </userSettings>
</configuration>
